.feed-item {
  min-height: 120px;
  padding: 1em;
  margin-top: 2em;
  background-color: #fff;
  border: 1px solid var(--main-border-color);
  border-radius: 14px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 2%), 0 4px 10px rgb(0 0 0 / 5%);
}
