<%# locals: (favoritable:, is_favorited: current_user.favorited?(favoritable)) %>
<div id="<%= dom_id(favoritable, :favorite) %>">
  <% if user_signed_in? %>
    <%= button_to polymorphic_path([favoritable, :favorite]), 
        method: is_favorited ? :delete : :post, 
        class: "btn btn-link p-0 text-decoration-none shadow-none" do %>
      <%= favorite_icon(favoritable, is_on: is_favorited) %>
    <% end %>
  <%# else %>
    <%# if favoritable.is_a?(Post) %>
      <%#= link_to login_announcement_path(favorite_after_login_id: post.id), 
          class: "btn btn-link p-0 text-decoration-none shadow-none",
          data: { turbo_stream: true } do %>
        <%#= favorite_icon(favoritable, is_on: false) %>
      <%# end %>
    <%# else %>
      <%# 表情のお気に入りは非表示 %>
    <%# end %>
  <% end %>
</div>
