<%# locals: (post:, is_favorited: nil) %>
<% is_favorited = current_user.favorited_post?(post) if user_signed_in? && is_favorited.nil? %>

<div id="<%= dom_id(post, :favorite) %>">
  <% if user_signed_in? %>
    <%= button_to post_favorite_path(post), 
        method: is_favorited ? :delete : :post, 
        class: "btn btn-link p-0 text-decoration-none shadow-none" do %>
      <%= favorite_icon(post, is_on: is_favorited) %>
    <% end %>
  <% end %>
</div>
