@use "../global" as *;

$header-height: 60px;

.header {
  position: sticky;
  top: 0;
  z-index: 1060;
  height: $header-height;
  padding: 0.5em;
  background-color: var(--main-color);
  border-bottom: 1px solid var(--main-border-color);

    &__left-content {
      display: flex;
    }

}

.header-logo {
  font-family: var(--font-cinzel);
  font-size: 2em;

  @include media-breakpoint-down(lg) {
    font-size: 1.2em;
  }

  &--appear {
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &--hide {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.world-select {
  text-align: center;
}

.notification {
  text-align: right;
}

.navbar-toggler-container {
  width: 177px;
  text-align: right;
  @include media-breakpoint-down(xl) {
    width: 138px;
  }
  @include media-breakpoint-down(md) {
    width: 20px;
  }
}

#offcanva-top-menu {
  top: $header-height;
  z-index: 1040;
  display: block;
  width: 100%;
  min-height: 70vh;
  padding-top: 2em;
  overflow-y: auto;
  background-color: var(--main-color);
  border-top: none;
  border-bottom: 1px solid #ddd;
}

.main-city-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 20px;
  margin: 0;
  list-style: none;

  li {
    width: 100%;
    max-width: 400px;
    height: 70px;
    margin: 0 !important;
    background-color: #fff;
    border: 1px solid var(--main-border-color);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      border-color: var(--bs-primary);
      box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
      transform: translateX(5px);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-weight: bold;
      color: #333;
      text-decoration: none;
    }
  }
}
