@use "../global" as *;

.layouts-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-inline: auto;
}

.side-nav-container {
  position: sticky;
  top: 65px;
  z-index: 100;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
  height: calc(100vh - 65px);
  overflow: hidden;
  overflow-y: auto;
  opacity: 1;
  transition: width 0.4s ease, opacity 0.2s ease, padding 0.2s ease;

  @include media-breakpoint-down(xl) {
    flex-grow: 0.1;
  }

  // @include media-breakpoint-down(lg) {
  //  flex-grow: 0;
  //  width: 0;
  //  padding: 0;
  //  margin: 0;
  //  opacity: 0;
  // }
}

.main-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;

  @include media-breakpoint-down(lg) {
    flex-grow: 0;
  }
}

.main-container {
  display: flex;
}

.main {
  flex-shrink: 0;
  width: 700px;
  max-width: 700px;
  padding-top: 1em;
  border-inline: 1px solid var(--main-border-color);
  transition: padding 0.2s ease;

  @media (width <= 700px) {
    width: 100svw;
    min-width: 300px;
    border: none;
  }
}
