@use "../global" as *;

.post-form-container {
  padding: 1em;
  background-color: var(--main-white);
  border: 1px solid var(--main-border-color);
  border-radius: 16px;
}

.main-form {
  width: auto;
  height: fit-content;
  min-height: 200px;
  padding-bottom: 2em;
  margin: 0 1em;
  border-bottom: 1px solid var(--main-border-color);

  @include media-breakpoint-down(sm) {
    height: fit-content;
  }
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  @include media-breakpoint-down(sm) {
    align-items: center;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: 0 0.5em;
    overflow-y: auto;
    font-size: 1.1em;
    line-height: 1.6;
    resize: none;
    background-color: var(--main-white);
    border: none;

    &:focus {
      outline: none; 
      background-color: #fff;
      border-bottom: 1px solid color-mix(in srgb, var(--main-border-color), transparent 80%);
      box-shadow: 0 4px 4px -2px color-mix(in srgb, var(--main-border-color), transparent 80%);
    }

    &::placeholder {
      color: #ccc;
      letter-spacing: 0.1em;
    }
  }
}
