@use "../global" as *;

.navbar-toggler-button {
  background-color: transparent;
  border: none;
}

.offcanvas__icon {
  color: var(--main-text-color)
}

.nav-block {
  width: 250px;
  margin: 0 auto;

  &__title {
    font-family: var(--font-cinzel);
  }

  &__content {
    background-color: var(--main-white);
  }
}
