@use "../global" as *;

.navbar-toggler-button {
  background-color: transparent;
  border: none;
}

.offcanvas__icon {
  color: var(--main-text-color)
}

.side-nav {
  width: 200px;
  padding-top: 1em;

  &__logo {
    display: none;
    font-family: var(--font-cinzel);
    font-size: 1.2em;
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  // @include media-breakpoint-down(lg) {
  //  width: 0;
  // }
}

.nav-block {
  &__title {
    font-family: var(--font-cinzel);
  }

  &__content {
    background-color: var(--main-white);
  }
}
