@use "../global" as *;

.navbar-toggler-button {
  background-color: transparent;
  border: none;
}

.offcanvas__icon {
  color: var(--main-text-color)
}

.side-nav {
  width: 200px;
  padding-top: 1em;

  // @include media-breakpoint-down(lg) {
  //  width: 0;
  // }
}
