<ol id="feed" class="feed" role='list'>
  <% posts.each do |post| %>
    <li class="feed-item">
      <%= render 'posts/post', post: post %>
    </li>
  <% end %>
</ol>

<div id="pagination-footer">
  <% if @pagy.next %>
    <%= turbo_frame_tag "pagination_frame", 
                        src: load_more_path(page: @pagy.next, format: :turbo_stream), 
                        loading: :lazy do %>
      <div class="text-center p-4">
        <span>読み込み中...</span>
      </div>
    <% end %>
  <% end %>
</div>
