<ol id="feed" class="feed" role='list'>
  <% posts.each do |post| %>
    <li class="feed-item">
      <%= render 'posts/post', post: post %>
    </li>
  <% end %>
</ol>

<%= render 'shared/infinite_scroll_trigger' %>
