<div id="pagination-footer">
  <% if @pagy.next %>
    <%= turbo_frame_tag "pagination_frame", 
                        src: infinite_scroll_load_more_url(@pagy, @city), 
                        loading: :lazy do %>
      <div class="text-center p-4 text-muted">読み込み中...</div>
    <% end %>
  <% end %>
</div>
