<%= cdn_image_tag current_expression&.image, variant: :display, class: "current-character__image" %>
<button type="button" class="btn btn-outline-dark current-character__button" data-action="click->modal#open">
  表情を変更
</button>
