<%= turbo_frame_tag "favorites-pane" do %>
  <% if expressions.any? %>
    <div class="expression-grid">
      <%= render partial: "expressions/expression_button", collection: expressions, as: :expression, locals: { prefix: "fav" } %>
    </div>
  <% else %>
    <div class="d-flex align-items-center justify-content-center" style="min-height: 200px;">
      <p class="text-muted m-0">お気に入りはまだありません</p>
    </div>
  <% end %>
<% end %>
