:root {
  --font-cinzel: "Cinzel", serif;
  --main-color: #faf7f0;
  --main-text-color: #1A1515;
  --main-border-color: #d4d7cd;
  --main-white: #fffefc;
  --sub-color: #c1ce7e;
}

.font-cinzel {
  font-family: var(--font-cinzel);
}
