<% if post.present? %>
  <%= form_with(model: post, id: "post-form",
                url: posts_path(city_id: params[:city_id]),
                data: {
                  turbo_submitting: "false",
                  controller: "post-form",
                  action: "turbo:submit-end->post-form#reset" 
                },
                class: "post-form") do |f| %>
                <div id="post_error_messages">
    <%= render "shared/error_messages", object: post %>
  </div>
    <%= f.text_area :content,
          class: "post-form__textarea",
          placeholder: "いまのあなたは？",
          rows: 5 %>
    <div class="post-form__button-container">
      <%= f.submit "つぶやく", class: "button" %>
    </div>
  <% end %>
<% end %>
