<article class="post row">
  <div class="col-3">
    <%= link_to observation_path(post.character), class: "character-link" do %>
      <%= image_tag cdn_image_url(post.expression.image.variant(:display)), class: "post__avatar" %>
    <% end %>
  </div>
  <div class="col-8">
    <p><%= post.character.name %></p>
    <p><%= post.content %></p>
  </div>
</article>
