.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .8em 2em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.05em;
    text-shadow: 0 1px 2px rgb(100 90 80 / 30%);
    background-color: #c1ce7e;
    background-size: 300% auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(158 142 133 / 40%);
    transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    opacity: 0.85;
  }

  &:active {
    box-shadow: 0 2px 10px rgb(37 117 252 / 30%);
    transform: translateY(1px);
  }
}
