@forward "feed";
@forward "post";
@forward "current-character";
@forward "login-modal";
@forward "expression-toggle";
@forward "button";
@forward "alert";
@forward "notification";
@forward "favorite_icon";
