.login-modal {
  width: 90%;
  max-width: 400px;
  padding: 0;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
}

.login-modal::backdrop {
  background-color: rgb(0 0 0 / 50%);
  backdrop-filter: blur(2px);
}
