<%= link_to avo.root_path, class: 'logo-placeholder h-full w-full block flex items-center justify-start' do %>
  <span class="text-3xl font-extrabold font-serif text-black tracking-tighter ">RolePlayn</span>
<% end %>
