<header class="header navbar">
  <div class="container-fluid header-container">
    <%= link_to "RolePlayn", "#", class: "header-logo col-md-3" %>
    <div class="col-md-6 world-select">
      <%= link_to @city.name, "#" %>
    </div>
    <div class="col-md-3 notification">
      <p>通知</p>
    </div>
  </div>
</header>
